.xls{
position: relative;
width: 288px;
height: 42px;
left: 26px;
top: 120px;

background: #260B5D;
border-radius: 12px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;

color: #FFFFFF;
}

th{
width: 1144px;
height: 46px;
left: 1372px;
top: 504px;
transform: rotate(180deg);
background: #260B5D;
border-radius: 0px 0px 12px 12px;
}

table{
    position: relative;
    width: 1144px;
height: 227px;
top: 90px;
left: 26px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(143, 143, 143, 0.25);
border-radius: 12px;
}

.rotate{
    transform: rotate(180deg);
    width: 1144px;
    height: 46px;
left: 244px;
top: 231px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

/* identical to box height, or 118% */
letter-spacing: -0.41px;

color: #FFFFFF;
}

.line{
    width: 1112px;
height: 1px;
background: #F4F4F5;
}

.name{
height: 20px;
transform: translate(0px, 15px);
top: 287px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

/* identical to box height, or 118% */
letter-spacing: -0.41px;

color: #9285AE;
}

.price{
    width: 36px;
height: 20px;
margin-left: 1050px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

/* identical to box height, or 118% */
text-align: right;
letter-spacing: -0.41px;

color: #260B5D;
}

.sht{
    position: relative;
    width: 30px;
height: 30px;
left: 1030px;
top: 10px;
border:none;
background: #260B5D;
}

.aname{
    position: absolute;
width: 147px;
height: 30px;
top: 50px;
left: 40px;

background: #B7A7D7;
border-radius: 14px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;

/* or 118% */
align-items: center;
text-align: center;
letter-spacing: -0.41px;

color: #FFFFFF;
}