.pricelist{
    position: absolute;
width: 286px;
height: 38px;
left:26px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
letter-spacing: -0.41px;
background-color: #FFFFFF;
outline: none;
border:none;
color: #260B5D;
}

.nomen{
    position: absolute;
width: 286px;
height: 38px;
left: 312px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
background-color: #FFFFFF;
outline: none;
border:none;
/* or 118% */
letter-spacing: -0.41px;

color: #B7A7D7;
}

.warehouse{
    position: absolute;
width: 286px;
height: 38px;
left: 598px;
background-color: #FFFFFF;
outline: none;
border:none;
font-family: PT Sans;
font-style: normal;
font-weight: normal;

letter-spacing: -0.41px;

color: #B7A7D7;
}

.analys{
    position: absolute;
    width: 286px;
height: 38px;
left: 884px;
background-color: #FFFFFF;
outline: none;
border:none;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
letter-spacing: -0.41px;

color: #B7A7D7;
}

.downLine{
    position: absolute;
width: 314px;
height: 2px;
left: 0px;
top:38px;

background: #62319E;
}

.head{
    position: relative;
width: 1200px;
height: 680px;
display: block;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(143, 143, 143, 0.25);
border-radius: 12px;
}