.createType{
width: 1144px;
height: 46px;
left: 228px;
top: 400px;

background: #B7A7D7;
border-radius: 0px 0px 12px 12px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
color: #260B5D;
}

.addCategory{
    position: relative;
    width: 288px;
    height: 42px;
    left: 890px;
    top: 78px;
    background: #FC6441;
    border-radius: 12px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.delete{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1100px;
    margin-top: -28px;
    background-color: #FFFFFF;
    outline: none;
    border:none;
}

.filter{
    position: absolute;
width: 30px;
height: 30px;
top: 50px;
left: 197px;
background-color: #FFFFFF;
outline: none;
border:none;
}

.plus{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 230px;
    background-color: #FFFFFF;
    outline: none;
    border:none;

}