.createType{
width: 1144px;
height: 46px;
left: 228px;
top: 400px;

background: #B7A7D7;
border-radius: 0px 0px 12px 12px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
color: #260B5D;
}

.addCategory{
    position: relative;
    width: 288px;
    height: 42px;
    left: 850px;
    
    background: #FC6441;
    border-radius: 12px;
    font-family: PT Sans;
font-style: normal;
font-weight: bold;

color: #FFFFFF;
}

.delete{
    position: relative;
    width: 30px;
height: 30px;
    top:-25px;
    left: 1100px;

background: #E4E2F4;
}

.filter{
    position: absolute;
width: 30px;
height: 30px;
left: 452px;
top: 174px;

background: #E4E2F4;
}