body {
  position: absolute;
  width: 1600px;
  height: 892px;
  left: 0px;
  top: 0px;
  
  background: #F6F9FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
